<h1>ngClass and ngStyle</h1>
<!--If you make true it will show "myclass"in inspect else won't. also we can dynamically bind this class true or false -->
<div class="box" [class.myclass]="myProperty" [style.margin]="myStyle1"> 
  <p>Class Binding</p>
</div>
<br>
<!-- change style using turnery Operator--> 
<div class="box" [class.myclass]="myProperty" [style.backgroundColor]="isActive? myStyle1 : myStyle2"> 
  <p>Class Binding --Using Turnery Operator</p>
</div>
<br>
<!-- Using [ngClass] directive - to assign multiple classes Inspect to see class--> 
<div class="box" [ngClass]="'class1 class2 class3'"> 
  <p>[ngclass] directive</p>
</div>
<br>
<!-- Using [ngClass]  directive- to assign multiple classes Inspect to see class are added uinng object--> 
<div class="box" [ngClass]="mtlclasses"> 
  <p>[ngclass] directive</p>
</div>
<!-- Using [ngStyle]  directive- to assign style--> 
<div class="box" [ngStyle]="{'background-color':'orange', 'border':'solid 1px blue'}"> 
  <p>[ngStyle] directive</p>
</div>
<hr>
<!-- Using [ngStyle]  directive- to assign style using object which is define in TS--> 
<div class="box" [ngStyle]="mltStyle"> 
  <p>[ngStyle] directive</p>
</div>